
 /* common styles */

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	text-align: center;
	background: #fff;
}

h1,h2{
	font-family: 'Montserrat', sans-serif;
}

h1{
	margin: 1em 0;
	color: #ff7c53;
}



 /* section styles */

.banner, .projects, #contact, #skills{
	padding: 2em 0;
}

#portfolio{
	padding-top: 2em;
}

#contact{
	padding: 2em;
}



 /* DRY styles */
.wrapper{
	width: 95%;
	margin:0 auto;
}

.grey-bg{
	background: #fafafa;
}


 /* header styles */
header{
	padding: 1em 0;
	background: #ffe098;
}

nav li{
	width: 50%;
	margin: 0 auto 5px;
}

nav li a{
	padding: 0.5em 0;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background: white;
	color: #4a4a4a;
	border-radius: 5px;
}

nav li a:hover{
	color: #ff7c53;
}


 /* skills section styles */

.bar{
	width: 100%;
	height: 20px;
	border: 2px solid #ededed;
	margin-bottom: 30px;
	border-radius: 10px;
}

.bar div{
	height: 100%;
	border-radius: 10px;
}

.eighty{
	width: 80%;
	background: rgba(54, 172, 208, 0.9);
}

.ninty{
	width: 90%;
	background: rgba(37, 114, 170, 0.9);
}

.sixty{
	width: 60%;
	background: rgba(82, 186, 180, 0.9);
}

.ten{
	width: 10%;
	background: rgba(103, 90, 133, 0.5);
}

.skill-bars h3:nth-of-type(n){
	text-align: left;
	text-transform: uppercase;
	font-size: 1.5em;
}

.html-bar h3{
	color: rgb(54, 172, 208);
}

.css-bar h3{
	color: rgb(37, 114, 170);
}

.js-bar h3{
	color: rgb(82, 186, 180);
}

.py-bar h3{
	color: rgb(103, 90, 133);
}

.skill-bars{
	width: 70%;
	margin: 50px auto;
}

.skill-bars h3{
	margin-left: 5px;
}


 /* banner section styles */

.banner img{
	width: 70%;
}

.intro{
	padding: 0.5em 2em;
}


 /* contact section styles */

#contact p{ font-size: 1em; }

#contact span{ font-weight: 700; }

.address p{
	line-height: 1em;
}


 /* footer styles */

footer{
	font-weight: 700;
	font-size: 1.3em;
}

.foot-info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2em 0;
}

.foot-info a{
	color: inherit;
}

footer nav{ display: none; }


/* for medium screens */

@media (min-width: 768px) {

	.skill-bars h3:nth-of-type(n){
		font-size: 2em;
	}

	nav ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	nav li a{
		display: block;
		padding: 0.5em;
		background: none;
		text-shadow: 0px 0px 5px white;
  }

	.banner .intro{
		width: 60%;
		float: left;
		padding: 0 5%;
		text-align: left;
		font-size: 1.2em;
	}

	.banner img{
		width: 40%;
		float: right;
	}

	.project{
		width: 50%;
		float: left;
		padding: 0 5%;
	}

	#contact p{
		width: 50%;
		margin: 2em auto;
	}

	.top{
		display: none;
	}

	footer nav{
		display: block;
	}

	footer nav a{
		padding: 0;
		font-size: 0.7em;
		padding: 0 0.5em;
	}

}


/* for large screens */

@media (min-width: 1024px) {

	.wrapper{
		width: 70%;
	}

	header h1{
		float: left;
	}

	header nav{
		float: right;
		margin: 2.4em 0;
	}

	header nav li{ margin: 0; }

	.project{
		padding: 1%;
		width: 33%;
	}

}
